<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      
      <security>
        <requestFiltering>
          <requestLimits maxQueryString="4294967295"  maxAllowedContentLength="4294967295" maxUrl="4294967295"/>
        </requestFiltering>
      </security>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\IdentityServer.exe" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
    <system.web>
      <httpRuntime maxRequestLength="2147483647" maxQueryStringLength="2147483647" maxUrlLength="2147483647"  executionTimeout="120" />
    </system.web>
  </location>
</configuration>